/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* Make Swabian Logo fit the navigation bar*/
.navbar-brand>img {
  max-height: 45px;
  max-width: 280px;
}

figure {
  margin: 2em;
}

#copyright a {
  color: gray;
}
